
@import './utils/fonts';
@import './utils/variables';
@import'./utils/utils';
@import'./utils/_texts';

@import './base';

@import './components/buttons.scss';
@import './components/links.scss';

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}

/* Header */

@import './layouts/header';

/* Hero section */

@import './layouts/hero_sections';

/* Advantages-section */

@import './layouts/advantages-section';

/* Traditions section */

@import './layouts/tradition-section';

/* Section */

@import './layouts/section';

/* Chefs section */

@import './layouts/cookers-section';
@import './layouts/chef-card';

/* Format-section */

@import './layouts/format-section';
@import './layouts/format-card';


/* Carousel */

@import './components/carousel';

/* Contact section */

@import './layouts/contact-section';
@import './components/form-terms'

/* Footer */;

@import './layouts/footer';



/* Modal */

@import './components/_modal.scss';


/* Form */

@import './components/form';