.button {
    padding: 16px 32px;
    font-weight: 600;
    color: var(--color-primary-light);
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    background: var(--color-brand-light);
    cursor: pointer;
}